.boxes{
    display: flex;
    justify-content: space-around;
}
.boxes h2{
    color: red;
    margin-left: 10px;
    margin-top: 5px;
    font-size: large;

}
.box{
    margin-top: 3rem;
    width: 25vw;
    height:20rem;
    background-color: #EDE9E8;
}

h1{
    color: #EC1F25;
}